
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.user-profile-container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-header {
    text-align: center;
}

.profile-header img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.profile-header h2 {
    margin-top: 10px;
}

.profile-info {
    margin-top: 20px;
}

.profile-info p {
    margin-bottom: 10px;
}


.btn {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-color: #4caf50;
    color: #fff;
    border-radius: 5px;
}



